@use "colors";
@use "fonts";
@use "spacings";

//banner
.banner{
    background-color: colors.$background-banner;
    padding: spacings.$spacing-mobile;
    //display: flex;
    justify-content: space-between;    
    align-items: center;


     &__perex{
        font-size: fonts.$font-size-title-mobile;
        color: white;
        margin: 0;
        margin-bottom: 1em;
       //display: none;
        @media screen and (min-width: 333px) {
            font-size: fonts.$font-size-title-desktop;
        }

    }

    &__buttons{
        display: flex;
        gap: 1.5em;
    }

    &__button{
        background-color: colors.$button-color;
        width: fit-content;

        &:hover,
        &:active,
        &:focus{
            background-color: colors.$button-banner-hover-color;
        }
    }

    &__link{
        display: block;
        padding: 0.8em;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.834);
        font-size: fonts.$font-size-mobile;

        &:hover{
            color: colors.$link-hover-font;
        }
    }
}

@media screen and (min-width:400px) {
    .banner__link{
        font-size: fonts.$font-size-desktop;
    }
}

@media screen and (min-width:700px) {
    
    .banner{
        display: flex;

        &__perex{
            margin: 0;
        }
    }
}

@media screen and (min-width:900px) {

    .banner{
        padding: spacings.$spacing-desktop;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

//konec banner