@use "colors";
@use "fonts";
@use "spacings";

.products-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    max-width: 800px;

    @media screen and (min-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
        
        
    }
    
        @media screen and (min-width: 800px) {
        column-gap: 2em;
               
    }

}

.box{
    max-width: 800px;
    margin: 0 auto;
}

.card{
    width: 40vw;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:lightgray ;
    margin: 1em auto;
    font-size: fonts.$font-size-card-mobile;

    @media screen and (min-width: 400px) {
        font-size: fonts.$font-size-card-desktop;
        
    }

    @media screen and (min-width: 600px) {
        width: 28vw;
        
    }

    &__head{
        height: 53vw;
        overflow: hidden;

        @media screen and (min-width: 600px) {
            height: 37vw;
            
        }
    }
     

    &__label{
        display: grid;
        grid-template-columns: 1fr 1fr;
       // gap: 10px;
        padding: 0.5em;
        align-items: center;
    }

    &__image{
        width: 100%;
        object-fit: cover;
        object-position: center center ;
    }

    &__text{
        grid-column: 1/3;
        padding: 0.5em;
        }

    &__price{
        padding: 0.5em;

    }

    &__button{
        padding: 0.5em;

     
    }
}
    .button-buy{
        padding: 0.5em 1em;
        background-color: colors.$button-color;
        border-radius: 5px;
        text-decoration: none;
        color: colors.$banner-text-color;
        
        
        &:hover{
            background-color: colors.$button-banner-hover-color;
            color: colors.$banner-text-color;
        }
    
    }