//pozadi stranka
$background: #F6F2F2;
$background_light: #F5F5F5;

//ham menu
$background_ham_menu: #8e9489d4;

//links
$link-hover-font:rgba(255, 255, 255, 0.836);
$link-hover-background:#5F5D6B;

//banner
$background-banner: #8E9489;
$button-color: #787587;
$button-hover-color:#5F5D6B;
$banner-text-color:rgba(255, 255, 255, 0.836);