//pozadi stranka
$background: #F6F2F2;
$background_light: #F5F5F5;

$text-color:#34333b;

//ham menu
$background_ham_menu: #8e9489d4;

//links
$link-hover-font:rgba(255, 255, 255, 0.836);
$link-hover-font-menu:#34333b;
$link-hover-background:#5f5d6bce;

$button-color: #787587;
$button-menu-hover-color:#e3dfe6;
$button-ham-menu-hover-color:#5F5D6B;
$button-banner-hover-color:#5F5D6B;


$background-banner: #8E9489;
$banner-text-color:rgba(255, 255, 255, 0.836);