$font-main: "Montserrat", sans-serif;

$font-size-main: 16px;
$font-size-buttons: 3.8vw;

$font-size-card-mobile: 3.5vw;
$font-size-card-desktop: 14px;


$font-size-mobile: 3.8vw;
$font-size-desktop: 16px;

$font-size-title: 6vw;
$font-size-title-2: 7vw;

//$font-size-card: 3.5vw;