@use "colors";
@use "fonts";
@use "spacings";
@use "card";


.product{

    padding: 2em;

    &__image{
        width: 100%;
    }

    &__img{
        width: 100%;
        
    }

    &__name{
        margin-top: 0;
        font-size: fonts.$font-size-title-mobile;
        color: colors.$text-color;
    }

    &__button{
        background-color: colors.$button-color;
        width: fit-content;
      
    }
}




    