@use "colors";
@use "fonts";
@use "spacings";
@use "card";


.product{

    padding: 2em;
    max-width: 800px;
    margin: 0 auto;

    @media screen and (min-width: 333px) {
        font-size: fonts.$font-size-title-desktop;
    }
    

    &__image{
        width: 100%;
        max-height: 500px;
        overflow: hidden;  
    }

    &__img{
        width: 100%;
        object-fit: cover;
        object-position: 25% 25%;             
    }

    &__name{
        margin-top: 0;
        font-size: fonts.$font-size-title-mobile;
        color: colors.$text-color;

        &--desktop{
            display: none;
        }

         &--visible{
            display: block;
            font-size: fonts.$font-size-title-mobile;
            @media screen and (min-width: 333px) {
                font-size: fonts.$font-size-title-desktop;
            }

        }

     }
    
    &__info{
        font-size: fonts.$font-size-mobile;
        margin-bottom: 3em;
    }

    &__desc{
        font-size: fonts.$font-size-mobile;
    }

    &__buy{
        font-size: fonts.$font-size-mobile;
    }



    @media screen and (min-width: 500px) {
       display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
        margin: 2em auto;
    
        
        &__image{
            grid-column: 1/2;
            grid-row: 1/-3;
            justify-self: center;
        }

        &__name{
            display: none;

            &--desktop{
                display: block;   
                font-size: fonts.$font-size-title-desktop;
            }
        }

        &__info{
            //padding-left: 1.5em;
            font-size: fonts.$font-size-desktop;
            margin-bottom: 0;
        }

        &__desc{
            font-size: fonts.$font-size-desktop;
        }

        &__buy{
            align-self: end;
            font-size: fonts.$font-size-desktop;
        }

        &__price{
            margin-bottom: 1.5em;
        }
    }
}




.other-products{
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;

    &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7em;
    margin: 1em auto;

}
}

.secondary-title{
    margin-top: 0;
    font-size: fonts.$font-size-title-mobile;
    color: colors.$text-color;

    @media screen and (min-width: 333px) {
        font-size: fonts.$font-size-title-desktop;
    }

}


.card-small{
    
    height: 30vw;
    max-height: 300px;
    position: relative;

    &__link{
        display: block;
        height: 30vw;
        max-height: 300px;
        overflow: hidden;
    }

    &__image{
        width: 100%;
        object-fit: cover;
        
    }

    &__text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
       // z-index: -1  ;
        text-align: center;
        display: block;
        font-size: fonts.$font-size-mobile;
        color: colors.$link-hover-font;

        @media screen and (min-width: 500px) {
        font-size: fonts.$font-size-title-desktop;
        }
        
    }
   
     &__link:hover{
        .card-small__image{
            opacity: 0.5;
        }
      

    }
}

    