@use "colors";
@use "fonts";
@use "header";
@use "banner";
@use "card";
@use "product";
@use "modal";
@use "footer";


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }



$spacing-mobile-x:1.5em;

  

body{
    background-color: colors.$background;
    margin: 0;
    font-family: fonts.$font-main;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}

.news{
    text-align: center;
    color: colors.$text-color; ;
}


.glide{
    max-width: 800px;
    margin: 0 auto ;

    &__box{
        background-color: colors.$background-glide;
        padding-top: 1em;
        padding-bottom: 2em;
    }
 }



.menu-categories{
    padding-bottom: 0.5em;
    border-bottom: 1px solid colors.$background-banner;

    @media screen and (min-width: 500px) {
        padding-top: 0.5em;
        padding-bottom: 1em;  
        display: flex;
        gap: 2em;
        align-items: center;
    }


    /*&__title{
        margin: 0;
        margin-bottom: 0.5em;
        font-size: fonts.$font-size-title-mobile;

        @media screen and (min-width: 333px) {
            font-size: fonts.$font-size-title-desktop;
            
        }

         @media screen and (min-width: 500px) {
            margin-bottom: 0;
            
        }*/

    

    &__list{
        display: flex;
        padding: 0;
        margin: 0;
        gap: 1em;
        

         @media screen and (min-width: 500px) {
            display: flex;
        }
    }

    &__item{
        list-style: none;
         :hover{
            color: black;
            font-weight: 600;
        }

        &--active{
            color: black;
            font-weight: 600;
        }

        
    }

    &__link{
        text-decoration: none;
        padding: 0.5em;
        padding-left: 0;
        font-size: fonts.$font-size-mobile;
        color: colors.$text-color;

       

        @media screen and (min-width: 500px) {
        font-size: fonts.$font-size-desktop;
        }
    }
}



