 <header class="header">
      <div class="header-desktop">
        <div class="logo">
          <a href="/index.html">
          <img
            class="logo__image"
            src="/images/logo.svg"
            alt="Logo Janka Pottery"
          />
          </a>
        </div>

        <nav class="menu">
          <ul class="menu__links">
            <li class="menu__item">
              <a class="menu__link" href="/index.html">Domů</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/e-shop">E-shop</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/omne">O mně</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/kontakt">Kontakt</a>
            </li>
          </ul>
        </nav>
      </div>

      <nav>
        <div class="ham-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>