<nav class="menu-categories">
<!-- <h3 class="menu-categories__title">Kategorie:</h3> -->
    <ul class="menu-categories__list">
      <li class="menu-categories__item">
        <a class="menu-categories__link" href="/eshop/hrnky/">Hrnky</a>
      </li>
      <li class="menu-categories__item">
        <a class="menu-categories__link" href="/eshop/kalisky/">Kalíšky</a>
      </li>
      <li class="menu-categories__item">
        <a class="menu-categories__link" href="/eshop/misky/">Misky</a>
      </li>
      <li class="menu-categories__item">
        <a class="menu-categories__link" href="/eshop/talire/">Talíře</a>
      </li>
    </ul>
  </nav>