---
layout: layouts/template-main.njk
---

<div class="product">
  <h2 class="product__name">{{ name }}</h2>

  <div class="product__image">
    <img class="product__img" src="/images/{{ image }}.jpg" alt="{{ alt }}" />
  </div>

  <div class="product__info">
    <h2 class="product__name--desktop">{{ name }}</h2>
    <div class="product__desc">
      <p>{{ desc }}</p>
      <p>{{ desc2 }}</p>
      <p>{{ desc3 }}</p>
      <p>{{ desc4 }}</p>
    </div>

    <!-- <div class="product__button"><a class="button-buy--big" href="#">KOUPIT</a></div> -->
  </div>
  <div class="product__buy">
    <p class="product__price">{{ price }}</p>
    <p class="product__state">{{ state }}</p>
    {% include 'partials/window.njk' %}
  </div>
</div>

<div class="other-products">
  <h2 class="secondary-title">Mohlo by vás zajímat</h2>

  <div class="other-products__list">
    {% for product in collections.eshop | reverse %}
    {% if loop.index0 < 3 %}
    <div class="card-small">
        <a class="card-small__link" href="{{product.url}}">
      <img
        class="card-small__image"
        src="/images/{{ product.data.image }}.jpg"
        alt="{{ product.data.alt }}"
      />
      <div class="card-small__text">{{ product.data.name }}</div>
      </a>
      
    </div>
    {% endif%} 
    {% endfor%}
  </div>
</div>
